.game-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1a1a1a;
  color: white;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #aaa;
}

.login-button,
.submit-button {
  margin-bottom: 20px;
}

.week-selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin: 20px auto;
  position: relative;
  padding: 10px;
}

.week-selector {
  display: flex;
  justify-content: space-between;
  width: 90%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 10px 0;
}

.week-selector::-webkit-scrollbar {
  height: 6px;
  background-color: #333;
}

.week-selector::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.week-button {
  flex: 0 0 20%;
  background-color: #2e2e2e;
  color: white;
  text-align: center;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 10px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.week-button:hover {
  background-color: #3a3a3a;
}

.week-button.selected {
  background-color: #1d1f21;
  border: 2px solid #1a73e8;
  color: white;
}

.week-button span {
  display: block;
  font-size: 0.9rem;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2e2e2e;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.scroll-arrow.left {
  left: 0;
}

.scroll-arrow.right {
  right: 0;
}

.game-card {
  background-color: #2e2e2e;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.game-date {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-box {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.team-box:hover {
  background-color: #3a3a3a;
}

.team-box.selected {
  background-color: #1a73e8;
}

.team-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.team-info {
  flex-grow: 1;
}

.team-name {
  font-weight: bold;
  margin-bottom: 0;
}

.team-record {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 0;
}

.spread {
  font-weight: bold;
  margin-left: auto;
}